#gallery {
  background-color: var(--gallery-bg);
  background-image: 
    linear-gradient(to right, var(--grid-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-line) 1px, transparent 1px);
  background-size: 150px 150px;
  position: relative;
  display: flex;
  flex-direction: center;
  justify-content: center;
  padding-bottom: 100px;
  align-items: center;
  width: 100vw;
  min-height: 1138px;
  gap: clamp(10px, 5vh, 200px);
}

#gallery h1 {
  position: absolute;
  top: 0px;
  color: var(--project-text);
  font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: 5px;
}

.pillar,
.pillar-reverse {
  position: absolute;
  top: -301px;
  z-index: 5;
}

.pillar { left: 0; }
.pillar-reverse { transform: scaleX(-1); right: 0; }

.mySwiper {
  width: 100%;
  padding-top: 150px;
  overflow: visible;
  z-index: -1;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100% !important;
  height: 1000px !important;
}

.project-img {
  width: 376px;
  height: 223px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.frame {
  width: 570px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.swiper-slide-active {
  transform: translateX(0) scale(1.1);
  z-index: 2 !important;
  animation: slideUp 1s ease-in-out forwards;
  margin-bottom: 300px;
}

.swiper-slide-next {
  opacity: 0.8;
  margin-top: 400px;
  z-index: 1;
}

.swiper-slide-prev {
  opacity: 0.8;
  margin-top: 400px;
  z-index: 1;
  animation: slideLeftToRight 1s ease-in-out forwards;
}

.swiper-slide {
  position: relative;
  opacity: 1;
  z-index: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateX(5%) translateY(35%);
  }

  to {
    transform: translateX(0) translateY(0%);
  }
}

@keyframes slideLeftToRight {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0); 
  }
}

.swiper-slide-next {
  animation: slideRightToLeft 1s ease-in-out;
}

.swiper-slide-prev {
  animation: slideLeftToRight 1s ease-in-out; 
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;
  top: 85% !important;
  color: var(--project-text) !important;
  font-size: 2.5rem;
  font-weight: bold;
  transition: transform 0.2s ease, color 0.3s ease;
  z-index: 10!important;
}

.swiper-button-prev {
  left: 25% !important;
}

.swiper-button-next {
  right: 25% !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--highlight-color);
  transform: scale(1.2);
}

.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
  opacity: 0;
  pointer-events: none;
}

.arrow-text {
  position: absolute;
  top: 82.5%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--project-arrow-text);
  z-index: 6;
  font-family: 'Gentium Book Plus', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}