#gallery {
  background-color: var(--gallery-bg);
  background-image: url(../assets/bg-imgs/brick-wall.png);
  background-size: fill;
  position: relative;
  display: flex;
  flex-direction: center;
  justify-content: center;
  padding-bottom: 100px;
  align-items: center;
  width: 100vw;
  min-height: 1135px;
  gap: clamp(10px, 5vh, 200px);
}

#gallery h1 {
  position: absolute;
  top: 0px;
  color: var(--project-text);
  font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: 5px;
}

.pillar,
.pillar-reverse {
  position: absolute;
  top: -301px;
  z-index: 5;
}

.pillar { left: 0; }
.pillar-reverse { transform: scaleX(-1); right: 0; }

.brick-decor {
  position: absolute;
  bottom: 0;
  width: 100vw;
  object-fit: cover;
  height: 35px;
}

.mySwiper {
  width: 100%;
  padding-top: 150px;
  overflow: visible;
  z-index: 1;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100% !important;
  height: 1000px !important;
}

.project-img {
  width: 376px;
  height: 223px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: url("../assets/imgs/icons/cursor-glow.png") 10 55, auto;
}

.frame {
  width: 570px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.swiper-slide-active {
  transform: translateX(0) scale(1.1);
  z-index: 2 !important;
  animation: slideUp 1s ease-in-out forwards;
  margin-bottom: 300px;
}

.swiper-slide-next {
  opacity: 0.8;
  margin-top: 400px;
  z-index: 1;
}

.swiper-slide-prev {
  opacity: 0.8;
  margin-top: 400px;
  z-index: 1;
  animation: slideLeftToRight 1s ease-in-out forwards;
}

.swiper-slide {
  position: relative;
  opacity: 1;
  z-index: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateX(5%) translateY(35%);
  }

  to {
    transform: translateX(0) translateY(0%);
  }
}

@keyframes slideLeftToRight {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0); 
  }
}

.swiper-slide-next {
  animation: slideRightToLeft 1s ease-in-out;
}

.swiper-slide-prev {
  animation: slideLeftToRight 1s ease-in-out; 
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;
  top: 85% !important;
  color: var(--project-text) !important;
  font-size: 2.5rem;
  font-weight: bold;
  transition: transform 0.2s ease, color 0.3s ease;
  z-index: 10!important;
  cursor: url("../assets/imgs/icons/cursor-glow.png") 10 55, auto !important;
}

.swiper-button-prev {
  left: 25% !important;
}

.swiper-button-next {
  right: 25% !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--highlight-color);
  transform: scale(1.2);
}

.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
  opacity: 0;
  pointer-events: none;
}

.arrow-text {
  position: absolute;
  top: 82.5%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--project-arrow-text);
  z-index: 6;
  font-family: 'Gentium Book Plus', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.arrow-text::before,
.arrow-text::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.arrow-text::before {
  content: "Wander the gallery using the arrows";
  animation-name: fadeBefore;
}

.arrow-text::after {
  content: "Select the center artwork to view the project";
  animation-name: fadeAfter;
}

@keyframes fadeBefore {
  0%, 45% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

@keyframes fadeAfter {
  0%, 45% { opacity: 0; }
  50%, 95% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 1024px) {
  #gallery {
    height: 900px;
    min-height: 300px;
  }

  #gallery > h1 {
    font-size: 3.4rem;
  }

  .pillar,
  .pillar-reverse {
    width: 495px;
  }
  .pillar  {
    left: -110px;
  }

  .pillar-reverse {
    right: -110px;
  }

  .swiper-slide-active {
    margin-bottom: 0;
  }

  .arrow-text {
    font-size: 1rem;
  }

  .faint-box {
    z-index: 200;
  }
}

@media (max-width: 900px) {
  #gallery {
    height: 900px;
    min-height: 300px;
  }

  #gallery > h1 {
    font-size: 3.4rem;
  }

  .pillar,
  .pillar-reverse {
    width: 495px;
  }
  .pillar  {
    left: -110px;
  }

  .pillar-reverse {
    right: -110px;
  }

  .swiper-slide-active {
    margin-bottom: 0;
  }

  .arrow-text {
    font-size: 1rem;
  }

  .faint-box {
    z-index: 200;
  }
}

@media (max-width: 600px) {
  #gallery {
    height: 720px;
    min-height: 300px;
  }

  #gallery > h1 {
    font-size: 2.2rem;
  }

  .brick-decor {
    width: 100vw;
  }

  .pillar,
  .pillar-reverse {
    display: none;
  }

  .project-img {
    width: 250px;
    height: 148px;
  }

  .frame {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .swiper-slide-active {
    margin-bottom: 0;
  }

  .arrow-text {
    top: 70%;
    font-size: 1rem;
  }
}