#gallery {
  background-color: var(--gallery-bg);
  background-image: 
    linear-gradient(to right, var(--grid-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-line) 1px, transparent 1px);
  background-size: 150px 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  align-items: center;
  width: 100vw;
  min-height: 1138px;
  gap: clamp(10px, 5vh, 200px);
}

#gallery h1 {
  position: absolute;
  top: 0px;
  color: var(--project-text);
  font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: 5px;
}

.pillar,
.pillar-reverse {
  position: absolute;
  top: -301px;
}
.pillar { left: 0; }
.pillar-reverse { transform: scaleX(-1); right: 0; }

.mySwiper {
  width: 60%;
  padding-top: 150px;
  overflow: visible;
  z-index: -1;
}

.swiper-wrapper {
  display: flex;
  gap: 60px;
  position: relative;
}

.swiper-slide {
  width: 376px !important;
  height: 500px !important;
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.project-img {
  width: 376px;
  height: 223px;
  position: relative;
  z-index: 1;
}

.frame {
  width: 570px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  
}

.swiper-slide-active {
  transform: translateY(-50px) scale(1.1);
  z-index: 2;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.8;
  transform: scale(0.95);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--project-text);
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
  transition: transform 0.2s ease, color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--highlight-color);
  transform: scale(1.2);
}
