#hero {
  background: linear-gradient(var(--hero-bg) 60%, var(--gallery-bg));
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.clouds {
  background-image: url(../assets/bg-imgs/clouds.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  width: 100vw;
  min-height: 75vh;
  position: relative;
  z-index: 3;
  animation: fade-in 4s ease-in-out forwards;
  opacity: 0;
}

.sun {
  width: clamp(100px, 30vw, 400px);
  position: absolute;
  z-index: 1;
  right: 7%;
  animation: reveal 2s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

.odin-link-img {
  visibility: hidden;
  width: clamp(100px, 25vw, 400px);
  position: absolute;
  z-index: 2;
  right: 7%;
  opacity: 0;
  pointer-events: none;
}

.faint-box {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 80vw;
  min-height: 85vh;
  background-color: var(--project-box-bg);
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 1s ease-in-out forwards;
  opacity: 0;
}

.faint-box > h1 {
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
  font-size: clamp(3rem, 30vw, 4rem);
  color: var(--highlight-text);
  font-weight: 500;
}

.faint-box > p {
  font-size: 1.2rem;
}

.faint-box p {
  font-family: 'Gentium Book Plus', Arial, Helvetica, sans-serif;
  color: var(--body-text);
  font-weight: 500;
  line-height: 1.5;
  width: 64%;
}

.odin-link {
  text-decoration: none;
  color: var(--highlight-text);
  transition: all 0.2s ease-in-out;
  position: relative;
}

.odin-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  background-color: var(--highlight-text);
  transition: width 0.3s ease-in-out;
}

.odin-link:hover::after {
  width: 100%;
}

ul {
  font-family: 'Gentium Book Plus', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--body-text);
  list-style-position: inside;
  margin: 0;
  padding: 0;
  text-align: center;
}

.curr-title > span {
  text-decoration: underline;
}

.update {
  color: var(--highlight-text);
  font-weight: normal;
}

.faint-box .checkout-text {
  font-size: 1rem;
  margin-bottom: 40px;
}

.curriculum {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 80px;
}

.foundations-text,
.full-stack-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curr-title {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.faint-box img {
  animation: point-down 3s ease-in-out infinite;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes reveal {
  from {
    top: -130px;
    right: 30%;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes reveal-odin {
  from {
    top: -20px;
    right: 30%;
    transform: rotate(0deg);
    opacity: 0;
  }

  to {
    top: 0;
    transform: rotate(45deg);
    opacity: 1;
  }
}

@keyframes hide-odin {
  from {
    top: -20px;
    right: 30%;
    transform: rotate(0deg);
    opacity: 0;
  }

  to {
    top: 0;
    transform: rotate(45deg);
    opacity: 1;
  }
}

@keyframes point-down {
  from {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(6px);
  }

  to {
    transform: translateY(0px);
  }
}

@media (max-width: 900px) {
  .faint-box > h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .sun {
    width: 270px;
  }
  .clouds {
    background-size: 100% 60%;
  }

  .faint-box {
    margin-top: 50px;
  }

  .faint-box > h1 {
    font-size: 2.5rem;
  }

  .faint-box > p {
    font-size: 1rem;
  }

  .curr-title span,
  .curr-title i,
  .foundations-text ul {
    font-size: 0.9rem;
  }

  .faint-box .checkout-text {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .faint-box img {
    width: 15px;
  }

  .curriculum {
    flex-direction: column;
    gap: 20px;
  }
}