:root {
  --highlight-text: #9C8935;
  --body-text: #356B9C;
  --grid-line: #E1D4C1;
  --hero-bg: #EAF8FF;
  --project-bg: #FFFEFA;
  --contact-bg: #E1D4C1;
  --project-text: #E0C374;
  --project-border: #BE8869;
}